[submodule "Projects/Dynamics"]
	path = Projects/Dynamics
	url = https://github.com/malramsay64/Dynamics.git
[submodule "Projects/Crystal_Melting"]
	path = Projects/Crystal_Melting
	url = https://github.com/malramsay64/Crystal_Melting.git
[submodule "Projects/MLCrystals"]
	path = Projects/MLCrystals
	url = https://github.com/malramsay64/MLCrystals.git
[submodule "Projects/random_number_generators"]
	path = Projects/random_number_generators
	url = https://github.com:malramsay64/random_number_generators.git
