# Ignore all output files
output

# Ignore all tex files ...
*.tex
# ... except for thesis.tex
!thesis.tex

# Ignore all html files
*.html

# Ignore all pdf files
*.pdf
# ... except those in the figures directories
!**/figures/*.pdf

# Ignore biblatex files
*.bbl
*.blg

# Ignore node directory
node_modules
